*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    
}



.row{
    width: 100%;
    height: 60px;
    border: solid 2px red;
}

#main-nav {
    float: right;
}

#main-nav ul, #main-nav2 ul {
    list-style-type: none;
    /* width: 100%; */
}

#main-nav li, #main-nav2 li, #accedi {
    display: inline-block;
    text-decoration:none ;
}

#main-nav li a, #main-nav2 li a, #accedi{
    margin: 10px;
    padding: 10px;
    color:black;
    font-size: 16px;
    text-decoration:none;
}
#main-nav2{
    display: inline-block;
}

#accedi{
    background-color: rgba(0,97,255,255);
    color: white;
}

.logo{
    margin: 10px;
    display: inline-block;
}

/* seconda sezione */

.jumbotron{
    width: 100%;
    height: 600px;
    background-color: rgba(180,208,231,255);
    border: solid 2px blue;
}

.text-jumbo{
    margin: auto;
    margin-top: 70px;
    width: 75%;
    height: 200px;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.5;
    border: solid 2px blue;
}

.description-jumbo{
    float: left;
    margin-left:180px;
    width: 25%;
    height: 250px;
    border: solid 2px blue;
    display: inline-block;
}

.button-jumbo{
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-size: 15px;
    background-color: rgba(0,97,255,255);
    border:none;
}

.line-jumbo{
    margin-top:10px;
}

.point{
    color:black;
    font-size: 50px;
}

.img-jumbo{
    width: 50%;
    height: 400px;
    border: solid 2px blue;
    background-image: url(img/jumbo.png);
    background-size: cover;
    display: inline-block;
}

/* terza sezione */

.plan{
    width: 100%;
    height: 1200px;
    border: solid 2px yellow;
}

.title-plan{
    margin-left: 120px;
    margin-top: 200px;
    width: 60%;
    height: 40px;
    font-size: 35px;
    font-weight: bold;
    border: solid 2px blue;
    border-top: none;
}

.button-plan{
    margin-top: 50px;
    margin-left: 120px;
}

.box-plan{
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 50px;
    float: left;
    width: calc(60% / 3);
    height: 800px;
    border: solid 2px blue;
}

#box-plan ul{
    text-decoration: none;

}




/* quarta sezione */

.patner{
    border: solid 2px black;
}


.pic-patner{
    float: left;
    margin-left: 120px;
    width: 50%;
    height: 400px;
    background-image: url(img/partner.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.text-box{
    float: left;
    margin-left: 550px;
    width: 650px;
    height: 400px;
    border: solid 2px red;
}

.titolo{
    margin-top: 50px;
    font-size: 30px;
    line-height: 1.5;
}
.sottotitolo{
    margin-top: 50px;
    font-size: 15px;
    line-height: 1.5;
}

.button-patner{
    margin-top: 20px;
    padding: 10px;
    color:black;
    font-size: 15px;
    background-color: white;
    border-color: black;
    
    /* border:none; */
}

/* quinta sezione */

.business{
    /* width: 100%;
    height: 900px; */
    border: solid 2px black;
}

.box-business{
    border: solid 2px black;
    float: left;
    margin: 70px;
    width: calc(70%/ 3);
    height: 450px;
} 

.title-business{
    margin-left: 120px ;
    margin-top:80px ;
    font-size: 35px;
}

.box-general{
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40%;
}

#box-1{
    background-image: url(img/business-feature-switching-tools.png);
}
#box-2{
    background-image: url(img/business-feature-coordinate-it.png);
}
#box-3{
    background-image: url(img/business-feature-multi-device.png);
}
#box-4{
    background-image: url(img/business-feature-integrations-it.png);
}
#box-5{
    background-image: url(img/business-feature-send-files-it.png);
}
#box-6{
    background-image: url(img/business-feature-security.png);
}


.box-title{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.box-text{
    margin-top: 20px;
    line-height: 1.5;
}

/* sesta sezione */

.team{
    width: 100%;
    height: 300px;
    border: solid 2px red;
}

.title-team{
    font-size: 35px;
    font-weight: bold;
    line-height: 1.5;
    margin-top:120px ;
    margin-left: 120px;
}

.link-team{
    margin-top: 30px;
    margin-left: 120px;
}
.link-team a{
    color:rgba(0,97,255,255);
}


/* settima sezione  */
.designit{
    width:100%;
    height: 600px;
    border: solid 2px blue;
}

.box-disegnit{
    float: left;
    border: solid 2px red;
    width: calc(100% / 3);
    height:350px;
    position: relative;
    
}

.mini-box{
    float: left;
    border: solid 1px green;
    width: calc(100% / 2);
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
/* parte destra */
#img-1{
    background-image:url(img/designit.svg) ;
    position: absolute;
    transform: translate(50% , 50%);
    width: 25%;
}

#img-2{
    background-image:url(img/arizona_state_university.svg) ;
    position: absolute;
    transform: translate(50% , 50%);
    width: 25%;
}

#dx-up{
    background-color: rgba(162,211,155,255);
}

#dx-down{
    background-color:rgba(255,28,28,255);
}

#sx-up{
    background-color: rgba(97,8,43,255);
}

#sx-down{
    background-color: rgba(0,147,206,255);
}

/* parte sinistra */

#dx-up2{
    background-color:rgba(180,208,231,255);
}

#dx-down2{
    background-color: rgba(13,36,129,255);
}

#sx-up2{
    background-color:rgba(213,0,31,255);
}

#sx-down2{
    background-color: rgba(255,216,48,255);
}
#main{
    background-color:rgba(245,245,245,255);
}

.dropbox-business{
    margin:0 15%;
    float: left;
    width: 70%;
    height: 250px;
    background-color:rgba(180,208,231,255);
    border: solid 1px black;

}

.pdb{
    margin-top: 80px;
    font-size: 35px;
    font-weight: bold;
    color:rgba(97,8,43,255);
}

.button-business{
    float: right;
    padding: 10px;
    color:black;
    font-size: 15px;
    background-color:white;
    border:none;
}


/* ottava sezione */
.domande{
    width: 100%;
    height: 500px;
    border: solid 2px yellow;
}

.box-domande{
    margin:0 auto;
    width: 70%;
    height: 100%;
    border: solid 2px tomato;
}

.d-frequenti{
    margin-top: 80px;
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.box-line{
    margin-top: 40px;
}

.b-line{
    float: left;
    display: inline-block;
    font-weight: bold;
    margin-top: 40px;


}

.arrow{
    margin-left:300px;
    float:;
    display: inline-block;
    font-weight: bold;


}
/* nona sezione */
.black{
    width: 100%;
    height: 400px;
    border: solid 2px green;
}

